.right-5 {
  padding-right: 5px;
}

.fans p {
  margin: 0;

  color: $gray;
}

@media (min-width: 1240px) {
  .display-grid {
    display: grid;
    grid-template-columns: repeat(4, min-content);

    column-gap: 50px;
    row-gap: 25px;
  }

  .grid-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 414px) {
  .images {
    width: 137px;
    height: 137px;
  }

  .display-block-similar {
    display: block;
  }
}
