.similar-artists {
  margin-bottom: 100px;
}

.similar-item {
  row-gap: 50px;
  margin-bottom: 25px;
}

.right-5 {
  margin-right: 5px;
}

.similar-info h3 {
  text-align: center;
  text-transform: none;
}

.similar-info p {
  text-align: center;

  font-size: 16px;
  line-height: 24px;
}

.margin-top-100 {
  margin-top: $margin-top;
}

.fans p {
  margin: 0;

  color: $gray;
}

@media (min-width: 1240px) {
  .similar-item img {
    width: 250px;
    height: 250px;
  }
  .justify-cntr {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .flex-center {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 414px) {
  .similar-item img {
    width: 137px;
    height: 137px;
  }

  .justify-cntr {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .flex-center {
    display: flex;
    flex-direction: column;
  }
}
