.similar-artists {
  margin-bottom: 100px;
}

.right-5 {
  padding-right: 5px;
}

.similar-info {
  text-align: center;
}

.similar-info-sp {
  font-size: 16px;

  line-height: 24px;

  text-align: center;
}

.fans p {
  margin: 0;

  color: $gray;
}

@media (min-width: 1240px) {
  .images {
    width: 250px;
    height: 250px;
  }

  .display-grid {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;

    column-gap: 50px;
    row-gap: 25px;
  }

  .grid-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 414px) {
  .images {
    width: 137px;
    height: 137px;
  }

  .display-block-similar {
    display: block;
  }
}
