hr {
  margin-top: 26px;
  margin-bottom: 8px;
  border-top-width: 0px;
  border-color: $gray;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.padding-rem {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.margin-btm-16 {
  margin-bottom: 16px;
}

.margin-top-13 {
  margin-top: 13px;
}

.decoration-none {
  text-decoration: none;
}

.f-size-16 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  font-size: 16px;
  line-height: 24px;

  text-transform: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.social-networks {
  display: flex;
  padding-left: 0px;
  column-gap: 24px;
}

.social-networks li {
  list-style: none;
}

.footer-top {
  margin-top: 74px;
  margin-bottom: 40px;

  border: 1px solid #e0e0e0;
}

.footer-copyright {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-btm-16 {
  padding-bottom: 16px;
}

@media (min-width: 1240px) {
  .justify-between {
    display: flex;
    justify-content: space-between;
    column-gap: 150px;
  }

  .flex-start {
    display: flex;
    justify-content: flex-start;
    column-gap: 15px;
  }
}

@media (max-width: 414px) {
  .flex-start {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .margin-top-30 {
    margin-top: 30px;
  }
}
