@media (min-width: 1240px) {
  .content {
    max-width: 1200px;
    margin: auto;

    padding-right: 20px;
    padding-left: 20px;
  }

  .title {
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    text-transform: uppercase;
  }

  .subtitle {
    font-size: 38px;
  }
}

@media (max-width: 414px) {
  .content {
    padding-right: 20px;
    padding-left: 20px;
  }

  .title {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
  }

  .subtitle {
    font-size: 18px;
    line-height: 27px;
  }

  .display-grid {
    display: grid;
    grid-template-columns: 137px 138px;

    column-gap: 50px;
    row-gap: 25px;
  }

  .grid-start {
    grid-row-start: 2;
  }
}

.subtitle {
  font-weight: bold;
  text-transform: uppercase;
}

.third-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

.color-white {
  color: $white;
}

.color-dark-gray {
  color: $dark-gray;
}

.color-gray {
  color: $gray;
}

.color-orange {
  color: $orange;
}

.button-purple {
  background-color: $purple;
}

.button-red {
  background-color: $red;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding-top: 20px;
  padding-right: 30px;

  padding-bottom: 20px;
  padding-left: 30px;

  font-weight: normal;

  font-family: "Roboto", sans-serif;

  text-transform: uppercase;
  text-decoration: none;

  border: 1px solid transparent;

  border-radius: 5px;
}

.align-center {
  text-align: center;
}

.f-size-12 {
  font-size: 12.8px;
  line-height: 19.2px;
}

.display-flex-justify {
  display: flex;
  justify-content: center;
}

.capitalize {
  font-weight: 700;
  font-size: 18px;

  line-height: 27px;

  text-transform: capitalize;
}

.text-transform-none {
  text-transform: none;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-btm-0 {
  margin-bottom: 0;
}

.display-block {
  display: block;
}

.padding-top-100 {
  padding-top: 100px;
}

.f-size-16 {
  font-size: 16px;
}

.margin-btm-49 {
  margin-bottom: 49px;
}

.decoration-none {
  text-decoration: none;
}
