.padding-top-btm-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.f-size-11 {
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

.position-absolute {
  position: absolute;

  top: 25px;

  right: 0;
  left: 0;
}

.text-decoration-none {
  text-decoration: none;
}

.active {
  color: $white;
}

.search-form {
  width: 248px;
  height: 25px;
}

.search-form-bg {
  background-color: $dark;
  border: none;
  border-radius: 50px;
}

.search-form::placeholder {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;

  text-transform: uppercase;
}

@media (min-width: 1240px) {
  .margin-top-5 {
    margin-top: 5px;
    margin-bottom: 6px;
    margin-left: 16px;
  }

  .main-navigation {
    display: flex;
    justify-content: space-between;
  }

  .inline-table {
    display: inline-table;
  }

  .site-navigation {
    display: flex;
    padding-top: 5px;
    padding-left: 90px;

    list-style: none;
  }

  .site-navigation li {
    margin-right: 24px;
  }
}

@media (max-width: 414px) {
  .inline-flex {
    display: inline-flex;
  }

  .flex-logo-center {
    align-items: center;
  }

  .flex-direction-column {
    display: flex;
    flex-direction: column;
  }

  .margin-top-5 {
    margin-top: 0;

    line-height: 1.5;

    margin-bottom: 0;
    margin-left: 16px;
  }

  .line-height-1 {
    line-height: 1;
  }

  .inline-block {
    display: inline-block;
  }

  .margin-top-btm-15 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .site-navigation {
    padding-left: 0;

    line-height: 1.5;

    list-style: none;
  }

  .search-form {
    width: 374px;
    height: 25px;
  }
}
