.header-image-banner {
  margin: 0;
  width: 100%;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.header-image-harket {
  width: 100%;
  background-image: url("../images/Morten_Harket.png");
  background-position: center;
  background-size: cover;
}

.mrgn-0 {
  margin: 0;
}

.margin-btm-48 {
  margin-bottom: 48px;
}

.main-header-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-form {
  margin-top: 32px;
}

.padding-top-btm {
  padding-top: 200px;
  padding-bottom: 200px;
}

.subtitle-form {
  margin-top: 0px;
  font-size: 16px;
}

.subscription-access {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  column-gap: 24px;
}

.name,
.email {
  min-width: 247px;
  min-height: 46px;

  padding-left: 22px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;

  margin-bottom: 1.5rem;

  background-color: transparent;

  border: 2px solid $dark-gray;
  border-radius: 3px;
}

.name::placeholder,
.email::placeholder {
  color: $white;
}

.btn {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Roboto;
  padding-top: 21px;
  padding-bottom: 21px;

  align-items: center;
  font-weight: normal;
}

.btn-green {
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 220px;
  padding-right: 220px;
  border: none;
  border-radius: 5px;
  background-color: $green;
  text-transform: uppercase;
}

.button-artist {
  display: flex;
  column-gap: 1.5rem;
}

.button {
  width: 140px;
  border-radius: 5px;
}

.button-link {
  padding-right: 15px;
}

.button-paddings {
  justify-content: left;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.align-left {
  text-align: left;
}

@media (max-width: 414px) {
  .padding-top-btm {
    padding-top: 55px;
    padding-bottom: 200px;
  }

  .button-artist {
    display: block;
  }

  .margin-mobil-btm-24 {
    margin-bottom: 24px;
  }

  .margin-left-24 {
    margin-top: 24px;
    margin-left: 0;
  }

  .subscription-access {
    display: block;
    padding-top: 16px;
  }

  .btn-green {
    width: 374px;
    padding-left: 0;
    padding-right: 0;
  }

  .name,
  .email {
    width: 352px;
    height: 50px;

    padding-left: 22px;

    margin-bottom: 1.5rem;

    background-color: transparent;

    border: 2px solid $dark-gray;
  }
}
