.header-image-banner {
  width: 100%;

  margin: 0;

  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.header-image-artist {
  width: 100%;

  background-image: url("../images/Morten_Harket.png");
  background-position: center;
  background-size: cover;
}

.mrgn-0 {
  margin: 0;
}

.margin-btm-49 {
  margin-bottom: 49px;
}

.margin-bottom-48 {
  margin-bottom: 48px;
}

.subscription-form {
  margin-top: 32px;
}

.subtitle-form {
  margin-top: 0;

  font-size: 16px;
}

.name-form {
  max-width: 570px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.name,
.email {
  min-width: 247px;
  min-height: 46px;

  margin-bottom: 1.5rem;

  padding-top: 0;
  padding-right: 0;

  padding-bottom: 0;
  padding-left: 22px;

  background-color: transparent;

  border: 2px solid $dark-gray;
  border-radius: 3px;
}

.name::placeholder,
.email::placeholder {
  color: $white;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding-top: 25px;
  padding-bottom: 21px;

  font-weight: normal;

  font-family: "Roboto", sans-serif;

  text-transform: uppercase;
  text-decoration: none;
}

.padding-btm-0 {
  padding-top: 24px;
  padding-bottom: 0px;
}

.btn-green {
  width: 100%;

  padding-top: 21px;
  padding-bottom: 21px;

  text-transform: uppercase;

  background-color: $green;

  border: none;
  border-radius: 5px;
}

.button-artist {
  display: grid;
  grid-template-columns: 200px 200px;

  column-gap: 1.5rem;
}

.button {
  border: 1px solid transparent;

  border-radius: 5px;
}

.button-link {
  margin-right: 15px;
}

.button-paddings {
  justify-content: left;

  padding-top: 20px;
  padding-right: 30px;

  padding-bottom: 20px;
  padding-left: 30px;
}

.align-left {
  text-align: left;
}

.margin-top-48 {
  margin-top: 48px;
  margin-bottom: 24px;
}

@media (max-width: 414px) {
  .btn-padding {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .padding-top-btm-header {
    padding-top: 78px;
    padding-bottom: 200px;
  }

  .padding-top-btm-224 {
    padding-top: 55px;
    padding-bottom: 224px;
  }

  .button-artist {
    display: grid;
    grid-template-columns: 200px;

    column-gap: 1.5rem;
  }

  .margin-mobil-btm-20 {
    margin-bottom: 24px;
  }

  .margin-left-24 {
    margin-top: 24px;
    margin-left: 0;
  }

  .subscription-form {
    margin-top: 0;
  }

  .subtitle-form {
    margin-top: 16px;
  }

  .subscription-access {
    display: block;
  }

  .btn-green {
    width: 374px;

    padding-right: 0;
    padding-left: 0;
  }

  .name,
  .email {
    width: 348px;
    height: 46px;

    margin-bottom: 1.5rem;

    padding-left: 22px;

    background-color: transparent;

    border: 2px solid $dark-gray;
  }
}
