.padding-top-7 {
  margin-top: 7px;
  margin-left: 18px;
}

.f-size-11 {
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

.text-decoration-none {
  text-decoration: none;
}

.active {
  color: $white;
}

.search-form {
  width: 248px;
  height: 25px;
}

.search-form-bg {
  background-color: $dark;
  border: none;
  border-radius: 50px;
}

.search-form::placeholder {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;

  text-transform: uppercase;
}

@media (min-width: 1240px) {
  .main-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
  }

  .container-logo {
    display: flex;
  }

  .site-navigation {
    display: flex;
    margin: 0;
    padding-top: 7px;
    padding-left: 90px;

    list-style: none;
  }

  .site-navigation li {
    margin-right: 24px;
  }
}

@media (max-width: 414px) {
  .inline-flex {
    display: inline-flex;
  }

  .inline-block {
    display: inline-block;
  }

  .main-navigation {
    padding-top: 25px;
  }

  .site-navigation {
    margin-bottom: 16px;

    padding-left: 0;

    list-style: none;
  }

  .site-navigation li {
    margin: 3px;
  }

  .search-form {
    width: 374px;
    height: 25px;
  }
}
