.mobile-app {
  margin-bottom: 100px;

  padding-top: 100px;
}

.margin-top-btm-48 {
  margin-top: 0;
  margin-bottom: 48px;
}

.grid-content {
  display: grid;
  grid-template-columns: 600px 333px;

  column-gap: 144px;
}

.margin-btm-0 {
  margin-bottom: 0;
}

.btn-border-radius {
  padding-top: 16px;
  padding-right: 40px;

  padding-bottom: 16px;
  padding-left: 40px;

  text-transform: none;

  border: none;
  border-radius: 32px;
}

@media (max-width: 414px) {
  .grid-content {
    grid-template-columns: auto;
  }

  .padding-btm-100 {
    padding-bottom: 100px;
  }
}
