@media (max-width: 414px) {
  .display-grid-columns {
    display: grid;
    grid-template-columns: auto;

    column-gap: 50px;
  }

  .photo {
    width: 374px;
    height: 186px;
  }

  .f-size-30 {
    margin-top: 45px;
    margin-bottom: 0;

    font-weight: 400;

    font-size: 16px;
    line-height: 24px;

    text-transform: capitalize;
  }

  .margin-btm-50 {
    margin-bottom: 50px;
  }
}

@media (min-width: 1240px) {
  .grid-gap {
    display: grid;
    grid-template-columns: 575px 575px;

    margin-bottom: 65px;

    column-gap: 50px;
  }

  .f-size-30 {
    font-weight: normal;
    font-size: 30px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 45px;
    text-transform: capitalize;
  }

  .margin-btm-27 {
    margin-bottom: 27px;
  }
}

.btn-link {
  display: inline-block;

  box-sizing: border-box;

  padding-top: 17px;
  padding-right: 30px;

  padding-bottom: 17px;
  padding-left: 30px;

  border: 1px solid $dark-gray;
  border-radius: 5px;
}

.margin-btm-20 {
  margin-bottom: 25px;
}

.margin-btn-48 {
  display: grid;
  grid-template-rows: 19px;
  grid-template-columns: 22px 72px 69px;

  margin-bottom: 48px;

  column-gap: 12px;
}
