.popular-track {
  display: flex;
}

.track-info {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.grid-template-rows-columns {
  display: grid;
  grid-template-rows: 55px;
  grid-template-columns: 551px 551px;

  row-gap: 25px;

  column-gap: 50px;
}

.items-center {
  align-items: center;

  padding-left: 15px;
}

.transform-uppercase {
  text-transform: uppercase;
}

@media (max-width: 414px) {
  .grid-template-rows-columns {
    display: grid;
    grid-template-rows: 55px;
    grid-template-columns: 374px;

    row-gap: 25px;

    column-gap: 50px;
  }
}
